.dots_custom {
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
  width: 20px;
  position: fixed;
  right: 80px;
  top: 303px;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  /* display: inline-block; */
  margin: 40px 0px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: white;
  color: transparent;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #594c4880;
}
